.install-app {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // @media (min-width: $min-tablet-width) {
  //   width: 300px;
  //   box-sizing: content-box;
  //   padding-left: 100%;
  //   padding-right: 100%;
  // }

  @media (min-width: $min-tablet-width) and (min-resolution: 1dppx) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  @media (min-width: $min-tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }

  @media (min-width: $min-desktop-width) and (min-resolution: 1dppx) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  @media (min-width: $min-desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.install-app__flex-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $min-tablet-width) {
    padding-right: 320px;
    margin-top: 114px;
    padding-bottom: 61px;
  }

  @media (min-width: $min-desktop-width) {
    padding-right: 640px;
  }
}

.install-app__promo {
  @media (max-width: $min-tablet-width) and (min-resolution: 1dppx) {
    background-image: url("../img/bg-back-mobile@1x.jpg");
  }

  @media (max-width: $min-tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $min-desktop-width) {
    background: none;
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  @media (min-width: $min-tablet-width) {
    position: relative;
  }
}

.install-app__tagline {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $basic-white;
  text-align: center;
  // padding-left: 47px;
  // padding-right: 47px;
  // z-index: -1;

  display: block;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 32px + 57px;
  margin-bottom: 28px;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 2px;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
  }

  @media (min-width: $min-desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin-top: 95px;
    margin-bottom: 7px;
  }
}

.install-app__btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $basic-white;
  text-align: center;
  line-height: 0;

  margin: 29px auto 15px;
  padding: 24px 35px;

  @media (min-width: $min-tablet-width) {
    padding: 24px 45px;
    margin-bottom: 33px;
  }

  @media (min-width: $min-desktop-width) {
    margin-bottom: 57px;
    font-size: 21px;
    padding: 25px 29px;
  }
  background-color: transparent;
  border-radius: 10% / 50%;
  border-color: $basic-white;
  border-style: solid;
  border-width: 3px;
  z-index: 1;
}

.install-app__hand-pic {
  margin: 0 auto 0;
  padding-right: 63px;
  display: block;

  @media (min-width: $min-tablet-width) {
    padding-left: 380px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    top: 70px;
    z-index: 0;
  }

  @media (min-width: $min-desktop-width) {
    padding-left: 844px;
    top: 94px;
  }
}
