.install-app {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // @media (min-width: $min-tablet-width) {
  //   width: 300px;
  //   box-sizing: content-box;
  //   padding-left: 100%;
  //   padding-right: 100%;
  // }

  @media (min-width: $min-tablet-width) and (min-resolution: 1dppx) {
    background-image: url("../img/dest/bg-back-tablet@1x.jpg");
  }

  @media (min-width: $min-tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../img/dest/bg-back-tablet@2x.jpg");
  }

  @media (min-width: $min-desktop-width) and (min-resolution: 1dppx) {
    background-image: url("../img/dest/bg-back-desktop@1x.jpg");
  }

  @media (min-width: $min-desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../img/dest/bg-back-desktop@2x.jpg");
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $basic-darker-blue;

  @media (min-width: $min-tablet-width) {

    &::before {
      position: absolute;
      content: "";
      width: 660px;
      height: 660px;
      background-repeat: no-repeat;
      top: 184px;
      left: -40px;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      background-size: auto 545px;
      background-image: url("../img/dest/iphone-hand-tablet@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/dest/iphone-hand-tablet@2x.png");
      }

      @media (min-width: $min-desktop-width) {
        display: none;
        width: 960px;
        background-size: auto 645px;
        left: 55px;
        top: 208px;
      }

      @media (min-width: $min-desktop-width) and (max-resolution: 1dppx) {
        background-image: url("../img/dest/iphone-hand-desktop@1x.png");
      }
      @media (min-width: $min-desktop-width) and (min-resolution: 2dppx) {
        background-image: url("../img/dest/iphone-hand-desktop@2x.png");
      }
    }
  }
}

.install-app__flex-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $min-tablet-width) {
    padding-right: 320px;
    margin-top: 114px;
    padding-bottom: 61px;
  }

  @media (min-width: $min-desktop-width) {
    padding-right: 640px;
  }
}

.install-app__promo {

  overflow: hidden;

  @media (max-width: $min-tablet-width - 1px) and (max-resolution: 1dppx) {
    background-image: url("../img/dest/bg-back-mobile@1x.jpg");
  }

  @media (max-width: $min-tablet-width - 1px) and (min-resolution: 2dppx) {
    background-image: url("../img/dest/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $min-desktop-width) {
    background: none;
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $min-tablet-width) {
    position: relative;
  }
}

.install-app__tagline {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $basic-white;
  text-align: center;
  // padding-left: 47px;
  // padding-right: 47px;
  // z-index: -1;

  display: block;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 32px + 57px;
  margin-bottom: 28px;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 2px;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
  }

  @media (min-width: $min-desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin-top: 95px;
    margin-bottom: 7px;
  }
}

.install-app__btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $basic-white;
  text-align: center;
  line-height: 0;

  margin: 29px auto 15px;
  padding: 24px 35px;

  @include interactive-element-01;

  &:hover,
  &:focus {
    background-color: $basic-white;
  }
  &:active {
    opacity: 1;
    color: rgba($basic-pink, .3);
  }

  @media (min-width: $min-tablet-width) {
    padding: 24px 45px;
    margin-bottom: 33px;
  }

  @media (min-width: $min-desktop-width) {
    margin-bottom: 57px;
    font-size: 21px;
    padding: 25px 29px;
  }
  background-color: transparent;
  border-radius: 10% / 50%;
  border-color: $basic-white;
  border-style: solid;
  border-width: 3px;
  z-index: 1;
}

.install-app__hand-pic {
  margin: 0 auto 0;
  padding-right: 63px;
  display: block;

  // @media (min-width: $min-tablet-width) {
  //   padding-right: 0;
  //   left: 50%;
  //   transform: translate(-50%);
  //   margin-left: 160px;
  //   position: absolute;
  //   top: 70px;
  //   z-index: 0;
  // }
  //
  // @media (min-width: $min-desktop-width) {
  //   margin-left: 390px;
  //   top: 94px;
  // }
}

.install-app__hand-pic-wrapper {
  @media (min-width: $min-tablet-width) {
    display: none;
  }

  @media (min-width: $min-desktop-width) {
    display: none;
  }

}

.install-app__hand-pic-wrapper-desktop {
  display: none;
  @media (min-width: $min-desktop-width) {
    display: block;
    position: absolute;
    content: "";
    height: 645px;
    width: 600px;
    overflow: hidden;
    left: 0;
    right: -340px;
    margin-left: auto;
    margin-right: auto;
    top: 208px;
  }
}

.install-app__hand-pic-desktop {
  position: absolute;
  content: "";
  right: 0;
  left: -325px;
  // margin-left: 100px;
}
