$basic-white: rgb(255, 255, 255);
$basic-grey: rgb(242, 242, 242);
$basic-darker-grey: rgb(173, 177, 182);
$basic-black: rgb(0, 0, 0);
$basic-blue: rgb(40, 54, 69);
$basic-darker-blue: rgb(29, 38, 49);
$basic-pink: rgb(210, 40, 86);

$arrows-grey: rgb(191, 195, 199);
$pricing-table-grey: rgb(229, 229, 229);
$pricing-accessed-green: rgb(61, 198, 68);
$pricing-denied-red: rgb(242, 91, 38);

$min-mobile-width: 320px;
$min-tablet-width: 660px;
$min-desktop-width: 960px;
$max-desktop-width: 1200px;
