$basic-white: rgba(255, 255, 255, 1);
$basic-grey: rgba(242, 242, 242, 1);
$basic-darker-grey: rgba(173, 177, 182, 1);
$basic-black: rgba(0, 0, 0, 1);
$basic-blue: rgba(40, 54, 69, 1);
$basic-darker-blue: rgba(29, 38, 49, 1);
$basic-pink: rgba(210, 40, 86, 1);

$arrows-grey: rgba(191, 195, 199, 1);
$pricing-table-grey: rgba(229, 229, 229, 1);
$pricing-accessed-green: rgba(61, 198, 68, 1);
$pricing-denied-red: rgba(242, 91, 38, 1);

$min-mobile-width: 320px;
$min-tablet-width: 660px;
$min-desktop-width: 960px;
$max-desktop-width: 1200px;
